#container {
    max-width: 500px;
    margin: 0 auto;
}

#hi {
    direction: rtl;
    text-align: justify;
    font-family: "times new roman";
}

.pasukNum {
font-size: 1.6em;
color: gray;
}

.chumashOne {

font-size: 2em;
}

.chumashTwo {

font-size: 1.8em;
}

.onkelosOne {

font-size: 1.6em;
}