@font-face {
  font-family: 'Ezra SIL';
  src: url('ezra/SILEOT.ttf') format('truetype');
}

html, body {
    width: 100%;
}

body {
	background-color: #f7f2e2;
}

header {
    width: 100%;
    border-bottom: .5px solid grey;
    height: 45px;
    background-color: #F2E9CE;
    position: fixed;
    overflow:auto;

}

header input {
    float: left;
    position: absolute;
}

header p {
    text-align: center;
    line-height: 45px;
    font-size: 22px;
}

#container {
    padding-top: calc(env(safe-area-inset-top) + 46px);
    max-width: 500px;
    margin: 0 auto;
}

#menu{text-align: center;}
#menu li{
	list-style: none;
	line-height:60px;
	font-size:25px;
	word-wrap:break-word;
	width:95%;
	max-width:400px;
	text-align: center;
	display:inline-block;
	height:60px;
	border:1px solid #C2A480;
	margin: 5px;
	font-family: "Ezra SIL";
	background-color: #F2E9CE;
}

#textView {
  direction: rtl;
  text-align: Justify;
	font-family: "Ezra SIL";
  padding: 0 10px 0 10px;
}

.pasukNum {
    font-size: 1.6em;
    color: gray;
}

.perekNum {
    font-size: 1.3em;
}

.aliyahNum {
    font-size: 1.3em;
    font-weight: bold; 
}

.chumashOne {
    font-size: 2em;
    line-height: 1.6em;
}

.chumashTwo {

    font-size: 1.8em;
    line-height: 1.6em;
    
}

.onkelosOne {

    font-size: 1.6em;
    line-height: 1.6em;
}

.barButton {
    background-color: #F2DBAE;
    border: none;
    padding-top: calc(env(safe-area-inset-top) + 6px);
    padding-right: 15.25px;
    padding-bottom: 10px;
    padding-left: 15.25px;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    max-height:45px;
    border-radius: 0;
    -webkit-appearance: none;
    font-size: 25px; 
    position: relative;
}

.menuButton {
  display: none;
  float: right;
}
